html{
  font: 100%/1.15 serif;
}

img {
  width: auto;
  max-width: 200%;
  height:auto;
}
figcaption{
  font-size: .75em;
  font-style: italic;

}
img.headshot {
  max-width: 3em;
  vertical-align: middle;
  border: 1px solid #eee;
  border-radius: 50%;
  filter: grayscale(100%);
  margin-right: .5rem;
}

body{
  max-width: 60rem;
  background-color: #FBE7D5
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(232, 231, 230);
}
/* lists */

dl,
ol{
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 2;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
}

dd{
  margin-left: 0;
}

/* navigation */

nav ul{
  list-style: none;
  padding-left: 0;
}

nav li{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* recipe lists */

.info dt{
margin-top: 1rem
}

.info dd {
  margin-top: .5rem
}

.list {
  list-style-position: inside;
  padding-left: 0;
  border-top: 1px dashed #000;
  margin-top: 1rem dashed #000;
  list-style: none;

}


.list li{
    border-top: 1px dashed #000;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style: none;
}

.list li:first-child {
  border-top: 2;
}

.fractions{
  font-size: 125%;
  font-family: monospace;
  line-height: 1;

}

@media (min-width: 60em) {

body{
  font-size: 125%;
  font-family: Didot, serif;
}

#ingredients1{
  width:100%
  vertical-align: top;
  margin-right: 3%
}

#ingredients2{
  width:100%;
  vertical-align: top;
}

#ingredients3{
  width:48%;
  vertical-align: top;
  margin-right: 3%
}

#preparation{
width:100%;
vertical-align: baseline;
margin-right: 3%
}


/* Typographic details */

p {
  color: rgb(51, 51, 51);
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.5; /* unitless, please!*/
  font-size: 1.2em;
  font-family: Didot, serif;
}

p.author {
  font-size: 0.75em;
}

header {
  font-family: Didot, serif;
  font-weight: bold
  background-color: rgb(239, 197, 175);
  line-height: 1;
}

h1 {
  font-size: 3em;
}
author{
  line-height: 1;
}
p.title {
  font-weight: bold;
  font-family: Didot, serif;
}

/* color details */

a {
  color: rgb(43,116,35);
}
a:hover {
  color: white;
}

a:focus {
  color: black;
}
a:active {
  color: white;
}
p.ingredients1{
  padding-top: 3;
}


}
